/* common */
body {
    position: relative;
}

.btn {
    transition: all 0.5s;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
}

.fa-chevron-left {
    color: #6f7b97;
}

.fa-chevron-right {
    color: #031c4e;
}

.fas.fa-circle,
.far.fa-circle {
    color: #006aff ;
}

.bg_grey {
    background-color: #f3f5f9;
}

.white_text {
    color: white;
}

/* navbar */
.ms_navbar {
    position: fixed;
    z-index: 2;
    height: 51px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 0;
    background-color: white;
}
.ms_navbar a {
    font-size: 16px;
    color: #031c4e;
    background-color: white;
}
.nav>li>a:focus,
.nav>li>a:hover,
.dropdown-menu>li>a:hover {
    color: #046fff;
    background-color: white;
}

#logo {
    height: 38px;
    padding: 0;
    margin: 4px 0;
}
#logo img {
    height: 100%;
}

.navbar-left {
    padding-left: 60px;
}
.icon_bar {
    background-color: #2386fd;
}

.btn_signup {
    border: 1px solid #046fff;
    background-color: white;
    color: #046fff;
}
.btn_signup:hover {
    background-color: #006aff;
    color: white;
}

.dropdown-menu>li>a {
    color: #031c4e;
}
/* jumbotron */
h1 {
    font-size: 63px;
    font-weight: bold;
}
.ms_jumbotron {
    padding: 110px 0 50px;
    height: 100%;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
}

.jumbotron_text {
    padding-right: 30px;
}
.jumbotron_text p {
    font-size: 20px;
    color: #bbcdff;
}
.jumbotron_form {
    background-color: white;
    border-radius: 10px ;
}
.jumbotron_form h2 {
    font-weight: bold;
    color: #031c4e;
}
.jumbotron_form h3 {
    font-size: 30px;
    font-weight: bold;
    color: #006aff;
}
.btn_blu {
    background-color: #579aff ;
    color: white;
}
.btn_blu:hover {
    background-color:#046fff ;
    color: white;
}

.btn_white_google {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888888;
    color: #626262;
}
.btn_white_google:hover {
    color: #046fff;
}

form img {
    height: 15px;
    position: absolute;
    top: 25%;
    left: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (min-width:769px) and (max-width: 991px) {
    h1 {
        font-size: 50px ;
    }
}

/* sezione loghi */
.bg_grey {
    text-align: center;
    background-color: #f3f5f9;
}
.logos_section {
    padding: 50px 0;
}

.logos_section h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #6f7b97;
}
.logos_section a {
    font-size: 18px;
    color: #006aff;
}
.logos_section a:hover {
    text-decoration: underline;
}
.logos {
    padding: 20px 0;
}
.logos img {
    height: 100px;
    margin-bottom: 20px;
}

/* sezione deploy */
/* sezione deploy */
.section_title h2,
.section_title h4 {
    text-align: center;
}

.section_title h2 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #031c4e;
}
.section_title h4 {
    font-size: 20px;
    margin-bottom: 50px;
}

.left_list li {
    list-style: none;
    font-size: 20px;
    padding: 10px 0;
}

.left_list {
    padding: 0 10px ;
    border-left: 2px solid #cccccc;
}

.section_item {
    padding: 20px;
}

.section_item h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #031c4e;
}

.section_item p,
.section_title h4,
.left_list li {
    color: #5c6a88;
}

@media screen and (max-width: 768px) {
    .section_item {
        padding: 0px;
    }
}

/* gallery 1 */
#slide {
    width: 50%;
}

#first_slider p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    color: #031c4e;
}

#first_slider,
#features {
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .fa-chevron-left,
    .fa-chevron-right {
    display: none;
    }
    #slide {
        margin: 80px 0;
    }
}

@media screen and (min-width:769px) and (max-width: 991px) {
    #slide {
        margin: 60px 0;
    }
}

/* features */
/* Molte classi sono uguali a quelle della sezione deploy */

.section_item a {
    transition: all 0.8;
    font-weight: bold;
    color: #006aff;
}
.section_item a:hover {
    font-size: 18px;
}

@media screen and (max-width:769px) {
    .section_item {
        margin: 20px 0;
    }
}

/* tabella */
#table {
    padding: 50px 0;
}
.bg_gradient {
    background-image: linear-gradient(#0048c5, #001e9a);
}
/* td:first-child {
    text-transform: uppercase;
    font-weight: bold;
    color: #ebeff9;
}

td:nth-child(2) {
    color:#abbbe5;
}
td:last-child {
    text-align: right;
}

td a {
    color: #00d7d2;
}
td a:hover {
    color: white;
}

.table>tbody>tr>td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

#table {
    padding: 70px 0;
}

@media screen and (max-width: 768px) {
    .table-responsive {
        border: none;
        margin: 20px 0;
    }
} */

.ms_row [class*="col-"]  {
    padding: 0; 
}
.ms_row {
    border-bottom: 1px solid white;
    padding:0;
    margin: 15px;
}

.table_city {
    color: #b5c5e8 ;
}

.ms_table_left {
    padding: 0 20px 0 0;
}

.ms_table_right {
    padding: 0 0 0 20px;
}

#table a {
    color: #00d7d2;
}

@media screen and (max-width: 768px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}

@media screen and (min-width:769px) and (max-width: 1199px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}

/* gallery 2  */
#section_slider {
    padding-bottom: 50px;
    vertical-align: middle;
}
#second_slider {
    position: relative;
    margin: 50px 0 30px;
}

#second_slider .fa-chevron-left,
#second_slider .fa-chevron-right {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 130px;
}

#white_slider {
    /* margin-top: 50px; */
    display: inline-block;
    width: 70%;
    height: 292px;
    padding: 50px 10px;
    background-color: white;
}

#white_slider img {
    width: 50%;
}

#second_slider a {
    transition: all 0.8;
    font-weight: bold;
    color: #006aff;
}
#second_slider a:hover {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #second_slider .fa-chevron-left,
    #second_slider .fa-chevron-right {
    display: none;
    }
}

/* sezione sopra il footer */
.btn_white {
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #006aff;
}
.btn_white:hover  {
    background-color: #006aff;
    color: white;
}
#upper_footer h2 {
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
}

#upper_footer {
    padding: 50px 0;
}

/* footer */
footer {
    background-color: #031c4e ;
    padding: 50px 0;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul a,
footer h4,
footer p {
    color: #a6adbd ;
}
footer li {
    padding-bottom: 10px;
}
footer h3 {
    color: white ;
}

footer .fab {
    font-size: 25px;
}

footer a:hover {
    color: #006aff;
}

/* chatbox */
.chatbox {
    width: 100%;
    position: fixed;
    right: 1%;
    bottom: 5%;
}

#avatar {
    /* position: relative; */
    width: 90px;
    padding: 10px;
    border-radius: 7px;
    background-color: #006aff;
}

.chatbox p {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid #031c4e;
    background-color: white;
    color: #031c4e;
}

/* .chatbox span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 10px 15px;
    background-color: red;
} */


@media screen and (max-width: 1199px) {

    #avatar,
    .chatbox p {
        margin-bottom: 20px;
        margin-left: 40px;
    }
  
}