/* navbar */
.ms_navbar {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: white;
}
.ms_navbar a {
    color: #031c4e;
    font-size: 16px;
}
.nav>li>a:focus, 
.nav>li>a:hover {
    color: #046fff;
    background-color: white;
}

#logo {
    height: 50px;
    padding: 0;
    margin: 0;
}
#logo img {
    height: 100%;
}

.navbar-left {
    padding-left: 60px;
}
.icon_bar {
    background-color: #2386fd;
}

.btn_signup {
    background-color: transparent;
    border: 1px solid #046fff;
    color: #046fff;
}
.btn_signup:hover {
    background-color: #006aff;
    color: white;
}

/* jumbotron */
h1 {
    font-size: 63px;
}
.ms_jumbotron {
    padding: 60px 0;
    height: 100%;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
}
.white_text {
    color: white;
}
.jumbotron_text {
    padding-right: 30px;
}
.jumbotron_text p {
    font-size: 20px;
    color: #bbcdff;
}
.jumbotron_form {
    background-color: white;
    border-radius: 10px ;
}
.jumbotron_form h2 {
    color: #031c4e;
}
.jumbotron_form h3 {
    font-size: 30px;
    color: #006aff;
}
.btn_blu {
    transition: all 0.3;
    background-color: #579aff ;
    color: white;
}
.btn_blu:hover {
    background-color:#046fff ;
}

.btn_white {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888888;
    color: #626262;
}
.btn_white:hover {
    color: #046fff;
}

form img {
    height: 15px;
    position: absolute;
    top: 25%;
    left: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (min-width:769px) and (max-width: 991px) {
    h1 {
        font-size: 50px ;
    }
}

/* sezione loghi */
.bg_grey {
    text-align: center;
    background-color: #f3f5f9;
}
.logos_section {
    padding: 50px 0;
}

.logos_section h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #6f7b97;
}
.logos_section a {
    font-size: 18px;
    color: #006aff;
}
.logos_section a:hover {
    text-decoration: underline;
}
.logos {
    padding: 20px 0;
}
.logos img {
    height: 100px;
    margin-bottom: 20px;
}

/* sezione deploy */
/* sezione deploy */
.deploy_title h2,
.deploy_title h4 {
    text-align: center;
}

.deploy_title h2 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #031c4e;
}
.deploy_title h4 {
    font-size: 20px;
    margin-bottom: 50px;
}

.left_list li {
    list-style: none;
    font-size: 20px;
    padding: 10px 0;
}

.left_list {
    padding: 0 10px ;
    border-left: 2px solid #cccccc;
}

.deploy_item {
    padding: 20px;
}

.deploy_item h4 {
    font-weight: bold;
    color: #031c4e;
}

.deploy_item p, 
.deploy_title h4, 
.left_list li {
    color: #5c6a88;
}

@media screen and (max-width: 768px) {
    .deploy_item {
        padding: 0px;
    }
}