.ms_navbar {
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 0;
    background-color: white;
}
.ms_navbar a {
    color: #031c4e;
    font-size: 16px;
}
.nav>li>a:focus,
.nav>li>a:hover {
    color: #046fff;
    background-color: white;
}

#logo {
    height: 49px;
    padding: 0;
    margin: 0;
}
#logo img {
    height: 100%;
}

.navbar-left {
    padding-left: 60px;
}
.icon_bar {
    background-color: #2386fd;
}

.btn_signup {
    background-color: transparent;
    border: 1px solid #046fff;
    color: #046fff;
}
.btn_signup:hover {
    background-color: #006aff;
    color: white;
}
.fa-chevron-down {
    font-size: 13px;
}
/* gallery 2  */



#section_slider {
    padding-bottom: 50px;
    vertical-align: middle;
}
#second_slider {
    background-color: #006aff;
    position: relative;
    margin: 50px 0 30px;
}

#second_slider .fa-chevron-left,
#second_slider .fa-chevron-right {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 130px;
}

#white_slider {
    /* margin-top: 50px; */
    display: inline-block;
    width: 70%;
    height: 292px;
    padding: 50px 10px;
    background-color: white;
}

#white_slider img {
    width: 50%;
}

#second_slider a {
    transition: all 0.8;
    font-weight: bold;
    color: #006aff;
}
#second_slider a:hover {
    font-size: 18px;
}

.bg_gradient {
    background-color: blue;
}

/* /* [class*="col-"] {
    background-color: cadetblue;
} */

.white_text {
    color: white;
}
.ms_row [class*="col-"]  {
    padding: 0; 
}
.ms_row {
    border-bottom: 1px solid white;
    padding:0;
    margin: 15px;
}

.table_city {
    color: #b5c5e8 ;
}

.ms_table_left {
    padding: 0 20px 0 0;
}

.ms_table_right {
    padding: 0 0 0 20px;
}

@media screen and (max-width: 768px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}

@media screen and (min-width:769px) and (max-width: 1199px) {
    .ms_row {
        padding:0;
        margin: 0px 15px;
    }
    .ms_table_left {
        padding: 0 0 0 0;
    }
    
    .ms_table_right {
        padding: 40px 0 0 0;
    }
}
